In [7]:
# Import the dependencies.
import pandas as pd
import requests
import gmaps

# Import the API key.
from config2 import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Katsuura,JP,2021-09-25 00:40:17,35.1333,140.3000,78.19,73,68,16.40
1,1,Severo-Kurilsk,RU,2021-09-25 00:40:18,50.6789,156.1250,47.43,93,100,30.20
2,2,Carnarvon,AU,2021-09-25 00:40:18,-24.8667,113.6333,69.87,68,40,11.50
3,3,Bocaiuva,BR,2021-09-25 00:40:19,-17.1078,-43.8150,74.91,48,24,8.14
4,4,Sudzha,RU,2021-09-25 00:40:19,51.1976,35.2726,42.71,97,39,4.12

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key="AIzaSyC-SHNItGs_T-62YCtSPt9kKFWJ00Crs_0")

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]
# max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Katsuura,JP,2021-09-25 00:40:17,35.1333,140.3000,78.19,73,68,16.40
5,5,Kihei,US,2021-09-25 00:40:19,20.7850,-156.4656,87.82,59,1,27.63
6,6,Cockburn Town,TC,2021-09-25 00:40:20,21.4612,-71.1419,83.08,73,100,8.66
8,8,Portland,US,2021-09-25 00:40:20,45.5234,-122.6762,88.39,29,20,1.01
11,11,Hambantota,LK,2021-09-25 00:40:21,6.1241,81.1185,79.14,100,20,8.05
13,13,Salalah,OM,2021-09-25 00:40:22,17.0151,54.0924,80.69,83,40,4.61
14,14,Campo Maior,BR,2021-09-25 00:40:22,-4.8278,-42.1686,78.75,66,49,6.17
17,17,Vaini,TO,2021-09-25 00:40:23,-21.2000,-175.2000,75.36,69,20,14.97
26,26,Hithadhoo,MV,2021-09-25 00:40:26,-0.6000,73.0833,82.44,71,100,12.77
27,27,Mackay,AU,2021-09-25 00:40:27,-21.1500,149.2000,80.69,60,2,8.05

In [27]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [28]:
preferred_cities_df.notnull().sum()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0        Katsuura      JP     78.19  35.1333  140.3000
5           Kihei      US     87.82  20.7850 -156.4656
6   Cockburn Town      TC     83.08  21.4612  -71.1419
8        Portland      US     88.39  45.5234 -122.6762
11     Hambantota      LK     79.14   6.1241   81.1185
13        Salalah      OM     80.69  17.0151   54.0924
14    Campo Maior      BR     78.75  -4.8278  -42.1686
17          Vaini      TO     75.36 -21.2000 -175.2000
26      Hithadhoo      MV     82.44  -0.6000   73.0833
27         Mackay      AU     80.69 -21.1500  149.2000

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": "AIzaSyC-SHNItGs_T-62YCtSPt9kKFWJ00Crs_0"
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Katsuura,JP,78.19,35.1333,140.3000,Katsuura Hotel Mikazuki
5,Kihei,US,87.82,20.7850,-156.4656,Maui Sunset
6,Cockburn Town,TC,83.08,21.4612,-71.1419,Osprey Beach Hotel
8,Portland,US,88.39,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
11,Hambantota,LK,79.14,6.1241,81.1185,Bungalow 63
13,Salalah,OM,80.69,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
14,Campo Maior,BR,78.75,-4.8278,-42.1686,Elite Hotel
17,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
26,Hithadhoo,MV,82.44,-0.6000,73.0833,Scoop Guest House
27,Mackay,AU,80.69,-21.1500,149.2000,International Lodge Motel

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))